version: "3.9"

services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    user: root  # pour pouvoir utiliser Docker
    ports:
      - "8081:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock  # permet à Jenkins de contrôler Docker
      - /usr/bin/docker:/usr/bin/docker  # si nécessaire, expose docker CLI du host
    restart: unless-stopped

volumes:
  jenkins_home:

